{% extends 'core/base.html' %}

{% block title %}Contact |{% endblock %}

{% block content %}
<div class="border-b bg-gray-200 m-2 p-8 rounded-xl">
<h1 class="font-bold text-3xl">The Contact Page</h1>
<br><br>

<pre>
<h1 class="font-bold">Contact Us</h1>
Welcome to Online Market! We value your feedback and inquiries. Whether you have questions about our products, need 
assistance with an order, or simply want to say hello, we're here to help. Please feel free to reach out to us through 
the various channels below.

<hr>
<h1 class="font-bold">Contact Form</h1>
Have a specific question or message for us? Use the form below to get in touch. Please provide your name, email address, 
and a brief description of your inquiry. We aim to respond to all messages.
Thank you for choosing Online Market.


<hr>
<h1 class="font-bold">Social Media</h1>
Stay connected with us on social media! 
Follow us on [Facebook, Twitter, Instagram, etc.] for the latest updates, promotions, and more. 
Feel free to send us a message on your preferred platform.

[Social Media Icons/Links]

<hr>
<h1 class="font-bold">FAQ Section</h1>
Before reaching out, you might find the answer to your question in our Frequently Asked Questions (FAQ) section. 
Check it out for information on shipping, returns, and more.

[Link to FAQ Page]

<hr>
<h1 class="font-bold">Emergency Contact Information</h1>
For urgent matters outside our regular business hours, please use the emergency contact information below:

Emergency Phone: +000-000-000
Emergency Email: onmarket@gmail.com

</pre>
</div>
{% endblock %}